* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #000;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}

.logo span {
  color: #00f7ff;
}

nav a {
  color: #aaa;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover,
nav .active {
  color: #00f7ff;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
}

.content {
  max-width: 500px;
}

.content h1 {
  font-size: 50px;
}

.content h1 span {
  color: #00f7ff;
}

.content h3 {
  margin: 10px 0;
  font-size: 25px;
}

.content p {
  color: #aaa;
  margin: 15px 0;
}

.socials a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid #00f7ff;
  border-radius: 50%;
  color: #00f7ff;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  background: #00f7ff;
  color: #000;
}

.buttons {
  margin-top: 20px;
}

.btn {
  padding: 10px 25px;
  border: none;
  background: #00f7ff;
  color: #000;
  margin-right: 10px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 15px #00f7ff;
}

.btn.outline {
  background: transparent;
  color: #00f7ff;
  border: 2px solid #00f7ff;
}

.image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 50px #00f7ff;
}